/Helloworld/out/
/Helloworld/.idea/
/Helloworld/*.iml
/hero/.idea/
/hero/.gradle/
/hero/out/
/hero/build/
/hero/*.iml
/Operations/out/
/Operations/.idea
/Operations/*.iml
/Teste18-19/out/
/Teste18-19/*.iml
